<%# gmaps("markers" => { "data" => @merchants.uniq.to_gmaps4rails} ) %>
<%# gmaps("markers" => { "data" => @merchants.uniq.to_gmaps4rails} ) %>

<%# gmaps("markers" => { "data" => session[:location] }) %>

 <!-- <script>
  $(document).ready(function() { 
//          $("#services").tablesorter(); 
          $("table") 
              .tablesorter() 
              //.tablesorterPager({container: $("#pager")});
  } );
</script> -->



<table id="services" class="zebra-striped condensed-table bordered-table tablesorter">
  <thead>
    <tr>
      <!-- <th><%# sortable "title" %></th> -->
      <th>Title</th>
      <th>Type</th>
      <th>Price</th>
      <th>Merchant</th>
      <th>Address</th>
      <th>Distance</th>
      <th>Start at</th>
      <th>End at</th>
    </tr>
  </thead>  
  <tbody class="services-body">  
    <%= render @services, :locals => { :list => true } %>      
  </tbody>
</table>

<%= paginate @services, :remote => true %>


<!-- <span id="pager" class="pager">
  <form>
    <img src="/assets/first.png" class="first"/>
    <img src="/assets/prev.png" class="prev"/>
    <input type="text" class="pagedisplay"/>
    <img src="/assets/next.png" class="next"/>
    <img src="/assets/last.png" class="last"/>
    <select class="pagesize">
      <option value="10">10 per page</option>
      <option value="20">20 per page</option>
      <option value="50">50 per page</option>
    </select>
  </form>
 </span> -->
