<%# gmaps("markers" => { "data" => @merchants.uniq.to_gmaps4rails} ) %>
<%# gmaps("markers" => { "data" => @merchants.uniq.to_gmaps4rails} ) %>

<%# gmaps("markers" => { "data" => session[:location] }) %>

<script>
  $(document).ready(function() { 
//          $("#services").tablesorter(); 
          $("table") 
              .tablesorter() 
              .tablesorterPager({container: $("#pager")});
  } );
</script>

<script>
$(document).ready(function(){  
  
    //when a link in the filters div is clicked...  
    $('#filters a').click(function(e){  
  
        //prevent the default behaviour of the link  
        e.preventDefault();  
  
        //get the id of the clicked link(which is equal to classes of our content  
        var filter = $(this).attr('id');  
  
        //show all the list items(this is needed to get the hidden ones shown)  
        $('#services tr').show();  
  
        /*using the :not attribute and the filter class in it we are selecting 
        only the list items that don't have that class and hide them '*/  
        $('#services tr:not(.' + filter + ')').hide();  
  
    });  
  
});  

</script>


<div id='filters'>
  <a href='#'>All</a> 
  <a href='#' id='hair_cut'>Hair Cut</a>
</div>  

<table id="services" class="zebra-striped condensed-table bordered-table tablesorter">
  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Price</th>
      <th>Merchant</th>
      <th>Distance</th>
      <th>Start at</th>
      <th>End at</th>
    </tr>
  </thead>    
  <%= render @services, :locals => { :list => true } %>  
</table>

<span id="pager" class="pager">
 	<form>
 		<img src="/assets/first.png" class="first"/>
 		<img src="/assets/prev.png" class="prev"/>
 		<input type="text" class="pagedisplay"/>
 		<img src="/assets/next.png" class="next"/>
 		<img src="/assets/last.png" class="last"/>
 		<select class="pagesize">
 			<option value="10">10 per page</option>
 			<option value="20">20 per page</option>
 			<option value="50">50 per page</option>
 		</select>
 	</form>
 </span>
