<li><%# link_to "Find Me", find_me_path, :method => :post, :remote => true %></li>
<li><%# link_to "Services", services_path %></li>
<li><%# link_to "Merchants", merchants_path %></li>
<li><%# link_to "Forget Me", forget_me_path, :method => :post, :remote => true %></li>
